POSTGRES_DB=macuco_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password_here
# If your environment cannot use Docker, uncomment the lines below in your .env file.
#POSTGRES_HOST=localhost
#POSTGRES_PORT=5432 