/* ===== Fonts ===== */
@font-face {
    font-family: 'Sansation';
    src: url('fonts/Sansation-Regular.woff2') format('woff2'),
         url('fonts/Sansation-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation';
    src: url('fonts/Sansation-Bold.woff2') format('woff2'),
         url('fonts/Sansation-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation';
    src: url('fonts/Sansation-Light.woff2') format('woff2'),
         url('fonts/Sansation-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}